<?xml version="1.0"?>
<!--
/**
 * @author Kim Phung - kimphung@buro210.nl
 * @date 06-12-2023
 * @category BURO210
 * @package Buro210_GraphQl
 * @copyright Copyright © BURO210 (www.buro210.nl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Buro210_GraphQl"/>
</config>
